img.team {
  width: 60%;
  border: 2px #007196 solid;
}

p.bio {
  text-align: left;
  font-size: smaller;
  margin-bottom: 30px;
  font-weight: 100;
}

p.role {
  font-weight: 200;
  margin-bottom: 10px;
}

p.lead {
  margin-bottom: 2px;
}