img.team {
  width: 75%;
  border: 2px #007196 solid;
}

p.bio {
  text-align: left;
  font-size: smaller;
}

p.role {
  font-weight: 200;
  margin-bottom: 17px;
}

p.lead {
  margin-bottom: 2px;
}
.fa-star,.fa-star-half-o,.fa-star-o {
  color: #56b4d4 ;
}