<div ng-controller="AddressCtrl">
  <h1>I want to find <br class="visible-xs">wi-fi in the MiddleOf.Us</h1>
  <form name="myForm" novalidate ng-submit="submitAddresses();">
    <fieldset>
      <div class="form-group">
        <input type="text" name="address-one" ng-model="formData.addressOne" placeholder="first address" ng-required="!formData.addressTwo" ng-minlength="2" ng-maxlength="50" class="col-lg-5">
        <span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid">
          <span ng-show="myForm.addressOne.$error.required">Address is required.</span> <!-- TODO: Check if it should be what it was: "myForm.address.$error" -->
          <span ng-show="myForm.addressOne.$error.address">Invalid address.</span> <!-- TODO: Check if it should be what it was: "myForm.address.$error" -->
        </span>
        <br><br>
        <input type="text" name="address-two" ng-model="formData.addressTwo" placeholder="optional second address" ng-minlength="2" class="col-lg-5">
        <br><br>
        <input type="submit" ng-disabled="myForm.$invalid" class="btn btn-primary">
      </div>
    </fieldset>
  </form>
  <div ng-show="results">
    <h2>Closest {{results.length}} results</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Yelp Rating</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td><a href="{{result.website}}">{{result.name}}</a></td>
          <td><img src="{{result.rating_image}}" /></td>
          <td><a href="https://maps.google.com?q={{result.address}}" target="_blank">{{result.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="error">
    <h2>{{error}}</h2>
  </div>
</div>