<!-- 1) How I got involved with the group
2) What I currently do for our group
3) Something personal about me -->

<div class="container">
  <div class="row text-center">
    <div class="col-sm-3">
      <p><img src="assets/Gerry400.jpg" class="img-circle team"/></p>
      <p class="lead">Gerry Pass</p>
      <p class="role">Lead Developer</p>
      <p class="bio">Gerry had a useful idea for how he could hack the planet, but being short on time, he gave the idea to Chris and Amanda for their group project at General Assembly. After seeing what they could accomplish, he asked them if they wanted to remake it from scratch to continue their learning, and like that, MiddleOf.Us was born.</p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Amanda400.jpg" class="img-circle team"/></p>
      <p class="lead">Amanda Raymond</p>
      <p class="role">Developer</p>
      <p class="bio">Amanda joined MiddleOf.Us excited to create, code, and collaborate. She is enjoying advancing her full-stack skills and working with such a great team. Outside of MiddleOf.Us and other coding ventures, Amanda likes traveling and going to concerts.</small></p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Chris400.jpg" class="img-circle team"/></p>
      <p class="lead">Chris Markel</p>
      <p class="role">Developer</p>
      <p class="bio">Chris joined MiddleOf.Us excited to recreate and improve upon its predecessor, Connect.Us. He is enjoying sharpening his development skills while collaborating with the team on core functionalities, UX, and design. When away from the code, Chris is likely dabbling outdoors or spending time with his wife.</small></p>
    </div>
    <div class="col-sm-3">
      <p><img src="assets/Kevin400.jpg" class="img-circle team"/></p>
      <p class="lead">Kevin Abdo</p>
      <p class="role">Product Manager</p>
      <p class="bio">Kevin approached the MiddleOf.Us team to gain experience to product management within the tech sector. Since then he has helped develop a vision for the site based on strong functionality for users and intuitive designs. Outside of MiddleOf.Us, Kevin can be found playing guitar in his rock band, The Better Brother.</small></p>
    </div>
  </div>
</div>