<div class="row">
  <div class="col-md-9 col-md-offset-2 dynamic-center">
    <br class="visible-md visible-lg">
    <h1>Tips</h1>

    <h3>General</h3>
    <ul>
      <li>When generating a Shareable Link, put your address second so that the recipient can use Geolocation</li>
      <li>Add a Shareable Link to a calendar invite, asking the recipient to pick a place</li>
      <li>Trading something off of Craigslist? Input an address that's *near* your house (don't use your home address for </li>safety reasons) and send it to them
    </ul>

    <h3>Social</h3>
    <ul>
      <li>Use geolocation and explore places near you</li>
      <li>Have friends who live 20 minutes to 1 hour away? Find a midpoint and reconnect</li>
      <li>Going on a sweet road trip? Find a hotel or food at a good halfway point</li>
    </ul>

    <h3>Professionals</h3>
    <ul>
      <li>Append your email signatures with a link to your saved work address and call it "Meet with me for lunch"</li>
      <li>Add a shareable link to your LinkedIn profile with your work address</li>
      <li>If you're married and moving to a new place, input your work addresses to find an apartment/house in the middle</li>
      <li>Put it on your personal site to meet with local clients and recruiters</li>
      <li>Working on a project with some peers, colleagues, or friends? Find a good spot for wifi</li>
      <li>Planning a conference or tournament is stressful. Use MiddleOf.Us to find nearby hotels and food</li>
    </ul>
  </div>
</div>